.idea
.DS_Store
__pycache__
.vscode/
*.pyc
*.egg-info
*.ipynb_checkpoints

logs
docs
examples/dataset
*./plots/
ernestogym/ernesto/data/demand/
ernestogym/ernesto/data/generation/
ernestogym/ernesto/data/market/
