.idea
.DS_Store
__pycache__
.vscode/
*.pyc
*.egg-info
*.ipynb_checkpoints

logs
docs
examples/dataset
examples/*/plots/
ernestogym/ernesto/data/market/ita2010wh_*
ernestogym/ernesto/data/generation/pv_dataset_*

