.idea
.DS_Store
__pycache__
.vscode/
*.pyc
*.egg-info
*.ipynb_checkpoints

logs
docs
examples/dataset
examples/*/plots/
ernestogym/ernesto/data/market/*
ernestogym/ernesto/data/generation/*
ernestogym/ernesto/data/demand/*
ernestogym/ernesto/data/temp_amb/*

returns_for_test_profile.csv